{% extends "layouts/main.html" %}

{% from "govuk/components/input/macro.njk" import govukInput %}

{% macro govukInputWithShowPassword(label, id, errors, showSettings, autocomplete) %}
    <div class="govuk-show-password" data-module="show-password" data-disable-form-submit-check="false" data-show-text="{{ showSettings.show }}" data-hide-text="{{ showSettings.hide }}" data-show-full-text="{{ showSettings.showFullText }}" data-hide-full-text="{{ showSettings.hideFullText }}" data-announce-show="{{ showSettings.announceShown }}" data-announce-hide="{{ showSettings.announceHidden }}">
        {{ govukInput({
            label: {
                text: label
            },
            classes: "govuk-!-width-two-thirds govuk-password-input",
            id: id,
            name: id,
            type: "password",
            autocomplete: autocomplete,
            spellcheck: false,
            errorMessage: {
                text: errors[id].text
            } if (errors[id])})
        }}
    </div>
{% endmacro %}

{% macro govukInputWithHintAndShowPassword(label, id, errors, showSettings, autocomplete, hintText) %}
    <div class="govuk-show-password" data-module="show-password" data-disable-form-submit-check="false" data-show-text="{{ showSettings.show }}" data-hide-text="{{ showSettings.hide }}" data-show-full-text="{{ showSettings.showFullText }}" data-hide-full-text="{{ showSettings.hideFullText }}" data-announce-show="{{ showSettings.announceShown }}" data-announce-hide="{{ showSettings.announceHidden }}">
        {{ govukInput({
            label: {
                text: label
            },
            hint: {
                text: hintText
            },
            classes: "govuk-!-width-two-thirds govuk-password-input",
            id: id,
            name: id,
            type: "password",
            autocomplete: autocomplete,
            spellcheck: false,
            errorMessage: {
                text: errors[id].text
            } if (errors[id])})
        }}
    </div>
{% endmacro %}

{% macro govukInputWithShowPasswordWithLabelAsPageHeading(label, id, errors, showSettings, autocomplete) %}
    <div class="govuk-show-password" data-module="show-password" data-disable-form-submit-check="false" data-show-text="{{ showSettings.show }}" data-hide-text="{{ showSettings.hide }}" data-show-full-text="{{ showSettings.showFullText }}" data-hide-full-text="{{ showSettings.hideFullText }}" data-announce-show="{{ showSettings.announceShown }}" data-announce-hide="{{ showSettings.announceHidden }}">
        {{ govukInput({
            label: {
                text: label,
                classes: "govuk-label--l",
                isPageHeading: true
            },
            classes: "govuk-!-width-two-thirds govuk-password-input",
            id: id,
            name: id,
            type: "password",
            autocomplete: autocomplete,
            spellcheck: false,
            errorMessage: {
                text: errors[id].text
            } if (errors[id])})
        }}
    </div>
{% endmacro %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">Create your password</h1>

<form action="/create-password" method="post" novalidate>

<input type="hidden" name="email" value="{{data['email']}}"/>

    {{ govukInputWithHintAndShowPassword(
        "Enter a password",
        "password",
        errors,
        {},
        'new-password',
        "It must be at least 8 characters and must include letters and numbers. Do not use a very common password, such as 'password' or a sequence of numbers."
    ) }}

    {{ govukInputWithHintAndShowPassword(
      "Re-type password",
      "password",
      errors,
      {},
      'new-password',
      ""
  ) }}

{{ govukDetails({
  summaryText: 'How to create a secure password',
  text: 'A good way to create a secure and memorable password is to use 3 random words. You can use numbers, symbols and spaces.'
}) }}

<h2 class="govuk-heading-s">Agree to our terms of use</h2>

<p class="govuk-body">By continuing, you confirm that you agree to our:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li><a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">privacy notice (opens in a new tab)</a>, which explains how we use your personal information</li>
    <li><a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">terms and conditions (opens in a new tab)</a></li>
  </ul>

{{ govukButton({
    "text": "Continue",
    "type": "Submit",
    "preventDoubleClick": true
}) }}

</form>

{{ govukButton({
  text: "Create passkey",
  classes: "govuk-button--secondary createPasskey",
  "preventDoubleClick": true
}) }}

{% endblock %}
