{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Enter your email address to sign into your GOV.UK account
      </h1>

      <form class="form" action="/check-your-email" method="post">

        <div class="govuk-form-group">
          <label class="govuk-label" for="email">
            Email address
          </label>
          <div id="email-hint" class="govuk-hint">
            We’ll only use this to send you a receipt
          </div>
          <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

      {{ govukButton({
        text: "Sign in with a passkey",
        classes: "govuk-button--secondary signInWithPasskey",
        "preventDoubleClick": true
      }) }}

    </div>
  </div>

{% endblock %}
